@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

  body {
    @apply m-0 p-0 antialiased leading-6 relative z-20 overflow-x-hidden;
  }

  html {
    @apply scroll-smooth box-border outline-none list-none overflow-x-hidden;
    font-family: 'Inter', sans-serif;
  }

  a {
    @apply no-underline;
  }

  ::-webkit-scrollbar {
    @apply w-[12px];
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent border-[1px] border-[#7e7e7e] rounded-[8px];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary border-[2px] border-[#616161] rounded-[8px];
  }
}

@layer components {
  .bg-overlay::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }

  #nav-icon3 {
    @apply w-[30px] h-[22px] relative rotate-0 transition-[0.5s] duration-[ease-in-out] cursor-pointer mx-auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    zoom: 0.8;
  }

  #nav-icon3 span {
    @apply block bg-subTitle absolute cursor-pointer h-[4px] w-full opacity-100 rotate-0 transition-[0.25s] duration-[ease-in-out] rounded-[9px] left-0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
  }

  #nav-icon3 span:nth-child(1) {
    @apply top-0;
  }

  #nav-icon3 span:nth-child(2),
  #nav-icon3 span:nth-child(3) {
    @apply top-[9px];
  }

  #nav-icon3 span:nth-child(4) {
    @apply top-5;
  }

  #nav-icon3.open span:nth-child(1) {
    @apply w-[0%] left-2/4 top-[9px];
  }

  #nav-icon3.open span:nth-child(2) {
    @apply rotate-45;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }

  #nav-icon3.open span:nth-child(3) {
    @apply -rotate-45;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }

  #nav-icon3.open span:nth-child(4) {
    @apply w-[0%] left-2/4 top-[18px];
  }

  .loader {
    @apply overflow-hidden fixed flex flex-col z-[99999] inset-0;
  }

  .loader-inner {
    @apply h-[60px] absolute w-[100px] m-auto inset-0;
  }

  .loader-line-wrap {
    @apply animate-[spin_2000ms_cubic-bezier(0.175,0.885,0.32,1.275)_infinite] box-border h-[50px] overflow-hidden absolute origin-[50%_100%] w-[100px] left-0 top-0;
  }

  .loader-line {
    @apply box-border h-[100px] absolute w-[100px] mx-auto my-0 rounded-[100%] border-4 border-solid border-transparent top-0 inset-x-0;
  }

  .loader-line-wrap:nth-child(1) {
    animation-delay: -50ms;
  }

  .loader-line-wrap:nth-child(2) {
    animation-delay: -100ms;
  }

  .loader-line-wrap:nth-child(3) {
    animation-delay: -150ms;
  }

  .loader-line-wrap:nth-child(4) {
    animation-delay: -200ms;
  }

  .loader-line-wrap:nth-child(5) {
    animation-delay: -250ms;
  }

  .loader-line-wrap:nth-child(1) .loader-line {
    @apply h-[90px] w-[90px] border-[hsla(219,87%,59%,0.89)] top-[7px];
  }

  .loader-line-wrap:nth-child(2) .loader-line {
    @apply h-[76px] w-[76px] border-[hsla(183,97%,59%,1)] top-3.5;
  }

  .loader-line-wrap:nth-child(3) .loader-line {
    @apply h-[62px] w-[62px] border-[hsla(260,97%,59%,1)] top-[21px];
  }

  .loader-line-wrap:nth-child(4) .loader-line {
    @apply h-12 w-12 border-[hsl(180,80%,60%)] top-7;
  }

  .loader-line-wrap:nth-child(5) .loader-line {
    @apply h-[34px] w-[34px] border-[hsl(240,80%,60%)] top-[35px];
  }

  @keyframes spin {
    0%,
    15% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
